<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 th:text="${msg}">testingPlaceholder message</h1>

    <ul>
        <li th:text="'Client Name: '+ ${clientsData.get(0)}">Client 0</li>
        <li th:text="'Client Name: '+ ${clientsData.get(1)}">Client 1</li>
        <li th:text="'Client Name: '+ ${clientsData.get(2)}">Client 2</li>
        <li th:text="'Client Name: '+ ${clientsData.get(3)}">Client 3</li>
    </ul>
    <table border="5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Credit Card</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user:${Users}">
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getCreditCard()}"></td>
                <td th:text="${user.getPassword()}"></td>
            </tr>
        </tbody>
    </table>
    
    <!-- <p th:text="'The ClientData is' + ' '  + ${Users}">date</p> -->
    <p th:text="'The date is' + ' '  + ${date}">date</p>

</body>

</html>